.App {
  width: 80%;
  margin: 0 auto;
}

.post {
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid teal;
}

.posts-enter {
  opacity: 0;
}
.posts-enter-active {
  opacity: 1;
  transition: all 400ms;
}
.posts-exit {
  opacity: 1;
}
.posts-exit-active {
  opacity: 0;
  transition: all 400ms;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  margin: 0 3px;
  padding: 10px 20px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.myBtn {
  margin: 5px 0;
  padding: 5px 15px;
  background: transparent;
  color: teal;
  border: 1px solid teal;
  cursor: pointer;
}

.myInput {
  width: 95%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
  outline: none;
}
.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myModalContent {
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  min-width: 250px;
}

.myLoader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed rgb(0, 0, 0);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
