.App {
  width: 80%;
  margin: 0 auto;
}

.post {
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid teal;
}

.myBtn {
  margin: 5px 0;
  padding: 5px 15px;
  background: transparent;
  color: teal;
  border: 1px solid teal;
  cursor: pointer;
}

.myInput {
  width: 95%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
  outline: none;
}
.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myModalContent {
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  min-width: 250px;
}
